* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background: #eeeeee;
  color: #030303;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  text-align: center;
  padding: 3rem 0;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  color: white;
}

header > h1 {
  font-weight: normal;
  font-style: italic;
}

main {
  padding: 1rem 0;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.movie {
  width: 100%;
}

.section-comments > h3
{
  padding: 3rem 0;
}

.section-comments{
  background-color: #333;
  color: #999999;
  padding-left: 2rem;
}

.article-commet{
  max-width: 95%;
  border-bottom: 1px dotted whitesmoke ;
  background-color: #222222;
  padding: 1rem;
}

button{
  background-color: darkgrey;
  border-radius: 2rem;
  margin-top: 1rem;
  margin-left: 3rem;
  border: none;
  padding: 1em 2em;
  margin-left: auto ;
  box-shadow: 5px 5px 8px -3px darkgray;
}

.movie{
  border-radius: 10px;
  box-shadow: 5px 5px 10px -5px darkgrey inset;
}

